body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f8f9fa;
}
.container {
    text-align: center;
}
#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin-top: 10px;
    height: 22px;
    font-weight: 700;
}
#progress-bar {
    width: 0%;
    background-color: #4caf50;
    text-align: center;
    color: white;
}